################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Selenium WebDriver/bin/Debug
/Selenium WebDriver/obj/Debug
/packages
/.vs/Selenium WebDriver/v15
